.mainContainer {
    width: 100%;
    min-height: 600px;
    display: flex;
// background-color: red;
    .container {
        width: 400px;
        height: 100%;
    
        .logoContainer {
            width: 140px;
            height: 50px;
            display: flex;
           margin: 10px 0px 25px 0px;
       }
        .textStyle{
            font-size:var(--font-32);
            font-weight:var(--font-bold);
            padding: 0px;
            margin: 0px;
        }
        .subTextStyle{
        font-size: var(--font-18);
            font-weight: var(--font-medium);
            padding: 10px 0px;
            margin: 0px;
            color:var(--grey1);
        }

        .loginForm {
            width: 100%;
           
.asterick{
    color: var(--red1);
}
            .iconLabelStyle {
                display: flex;
                flex-direction: row;
                margin-top: 10px;

                .iconCustomClass {
                    margin-top: 12px;
                    width: 20px;
                    height: 20px;
                }

                .labelStyle {
                    font-weight: var(--font-normal);
                    font-size: var(--font-16);
                    padding: 10px 0px;
                }
            }

            .inputFieldStyle {
                width: 100%;
                max-width: 366px;
                padding:  10px;
                font-size: var(--font-14);
                border: none;
                color: var(--grey4);
                border: 1px solid var(--grey1);

                &:focus {
                    outline: none !important;
                    border-bottom: 1px solid var(--grey2);
                }
            }

            .errorText {
                color: var(--red1);
                font-size: var(--font-14);
                font-weight: var(--font-medium);

            }
        }

                .loginBox {
                    display: flex;
        
                    .container {
                        display: flex;
                        flex-direction: row;
        
                        .loginTextStyle {
                            font-size: var(--font-14);
                            font-weight: var(--font-medium);
                            padding: 10px 5px;
                            margin: 0px;
                            color: var(--grey1);
                        }
        
                    }
        
                    .forgotPasswordStyle {
                        display: inline;
                        font-size: var(--font-14);
                        font-weight: var(--font-medium);
                        color: var(--grey1);
                        padding: 10px 0px 20px 0px;
                        cursor: pointer;
                    }
        
                }
        .loginButtonStyle {
            margin: 15px 0px 10px 0px !important;
            cursor: pointer;
        
        }

     .signupContainer{
        display: flex;
        flex-direction: row;
        margin: 10px 65px;
        .textStyle{
            font-size: var(--font-14);
            font-weight: var(--font-medium);
            color: var(--grey1);
          
        }
        .signupStyle{
            font-size: var(--font-14);
                font-weight: var(--font-medium);
                color: var(--purple2);
                margin: 0px;
                padding:0px;
        }
     }
     .optionalContainer{
        display: flex;
        flex-direction: row;
        margin: 30px 60px;
        .dividerCustomStyle{
            width:50%
        }
     }
    }
}